[submodule "lib/jszip"]
	path = lib/jszip
	url = git://github.com/Stuk/jszip.git
[submodule "lib/jcanvas"]
	path = lib/jcanvas
	url = git://github.com/caleb531/jcanvas.git
[submodule "lib/jquery.raphael.spinner"]
	path = lib/jquery.raphael.spinner
	url = git://github.com/hunterae/jquery.raphael.spinner.git
[submodule "lib/raphael"]
	path = lib/raphael
	url = git://github.com/DmitryBaranovskiy/raphael.git
[submodule "lib/yaselect"]
	path = lib/yaselect
	url = git://github.com/choonkeat/yaselect.git
