html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}
article {
  display: block;
  position: relative;
  height: 100%;
  overflow: auto;
}
em em,
dt {
  font-weight: bold;
}
pre > code {
  display: block;
  outline: 1px dashed #fff;
  outline-offset: 1ex;
  overflow: auto;
}
form {
  min-width: 512px;
  overflow: hidden;
}
form > div {
  padding: 16px;
  overflow: hidden;
}
form > div > div {
  width: 256px;
}
form > div > div,
form > div canvas {
  float: left;
}
canvas {
  margin-bottom: 16px;
}
label,
select {
  width: 128px;
}
label {
  display: inline-block;
  text-align: right;
}
select {
  color: buttontext;
}
.ui-tabs .ui-tabs-hide {
  display: none;
}
.ui-tabs .ui-tabs-nav {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
}
.ui-tabs .ui-tabs-nav li a:link {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #fff;
}
.ui-tabs .ui-tabs-nav li a:link:focus {
  outline: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background-color: #fff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:link {
  cursor: text;
  color: #000;
}
header,
footer {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1ex 1%;
}
header {
  -webkit-column-width: 393px;
  -moz-column-width: 393px;
  column-width: 393px;
}
footer {
  width: 98%;
  overflow: hidden;
}
footer > aside {
  float: right;
}
footer a:link,
footer a:visited {
  color: #0cf;
  text-decoration: none;
}
footer a:link:hover,
footer a:visited:hover {
  text-decoration: underline;
}
#guide {
  display: none;
  margin-bottom: 3em;
}
#versions_container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.75);
  border: solid rgba(0,0,0,0.6);
  border-width: 0 0 1px 1px;
  border-radius: 1em;
  border-top-right-radius: 0;
  max-width: 400px;
  max-height: 95%;
  overflow: auto;
  padding: 1ex;
}
#versions_button {
  opacity: 0.6;
}
#versions {
  display: none;
}
h1 {
  clear: left;
}
