column-width(length)
	-webkit-column-width length
	-moz-column-width    length
	column-width         length

html, body
	margin 0
	padding 0
	height 100%
	font-family sans-serif

article
	display block
	position relative
	min-height 100%

em em, dt
	font-weight bold

pre > code
	display block
	outline 1px dashed white
	outline-offset 1ex
	overflow auto

form
	min-width 512px
	/* this actually makes it adapt to its floating content’s size */
	overflow hidden
	padding-bottom 3em
	
	> div
		padding 16px
		overflow hidden
		
		> div
			width 256px
		
		> div, canvas
			float left

canvas
	margin-bottom 16px


label, select
	width 128px

label
	display inline-block
	text-align right

select
	color buttontext

.ui-tabs
	.ui-tabs-hide
		display none
	
	.ui-tabs-nav
		background-color black
		margin 0
		padding 0
		overflow hidden
		
		li
			list-style none
			float left
			
			a:link
				display block
				padding .5em 1em
				text-decoration none
				color white
				
				&:focus
					outline none
			
			&.ui-tabs-selected
				background-color white
				
				a:link
					cursor text
					color black

header, footer
	display block
	background-color black
	color white
	padding 1ex 1%

header
	column-width 393px

footer
	width 98%
	position absolute
	bottom 0
	overflow hidden
	
	> aside
		float right

a:link, a:visited
	color #0cf
	text-decoration none
	
	&:hover
		text-decoration underline

#overlay
	position fixed
	left     0
	top      0
	display  table
	width    100%
	height   100%
	background-color rgba(0,0,0,.3)
	
	> div
		display        table-cell
		text-align     center
		vertical-align middle

#guide
	display none
	
	ol
		margin-bottom 0

#versions_container
	position fixed
	top 0
	right 0
	background-color rgba(255, 255, 255, .75)
	border solid rgba(0, 0, 0, .6)
	border-width 0 0 1px 1px
	border-radius 1em
	border-top-right-radius 0
	max-width 400px
	max-height 95%
	overflow auto
	padding 1ex

#versions_button
	opacity .6
#versions
	display none

/* debug */
h1
	clear left